.main-navigation {
	display: block;
	width: 100%;

	ul {
		display: none;
		list-style: none;
		margin: 0;
		padding-left: 0;

		ul {
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			float: left;
			position: absolute;
			top: 100%;
			left: -999em;
			z-index: 99999;

			ul {
				left: -999em;
				top: 0;
			}

			li {

				&:hover > ul,
				&.focus > ul {
					display: block;
					left: auto;
				}
			}

			a {
				width: 200px;
			}

			:hover > a,
			.focus > a {
			}

			a:hover,
			a.focus {
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}

	li {
		position: relative;

		&:hover > a,
		&.focus > a {
		}
	}

	a {
		display: block;
		text-decoration: none;
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a,
	.current-menu-ancestor > a {
	}
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

@media screen and (min-width: 37.5em) {

	.menu-toggle {
		display: none;
	}

	.main-navigation ul {
		display: flex;
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
	}

	.nav-links {
		display: flex;
	}

	.nav-previous {
		flex: 1 0 50%;
	}

	.nav-next {
		text-align: end;
		flex: 1 0 50%;
	}
}

.site-branding {

	

	h1 a{
		font-size: 26px;
		font-weight: 400;
	}
	h1, p {
		display: inline;
		} 
	p {
		font-size: 18px;

	}
	.site-description {
		font-weight: 100;
	}
	
}

/* Social Media Menu */



.menu-social li a::before {
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
  }


.menu-social li a[href*="facebook.com"]::before { font-family: "Font Awesome 5 Brands"; content: "\f09a"; }
.menu-social li a[href*="github.com"]::before { font-family: "Font Awesome 5 Brands"; content: '\f09b'; }
.menu-social li a[href*="instagram.com"]::before { font-family: "Font Awesome 5 Brands"; content: '\f16d'; }
.menu-social li a[href*="jsfiddle.com"]::before { font-family: "Font Awesome 5 Brands"; content: '\f1cc'; }
.menu-social li a[href*="linkedin.com"]::before { font-family: "Font Awesome 5 Brands"; content: '\f0e1'; }
.menu-social li a[href*="pinterest.com"]::before { font-family: "Font Awesome 5 Brands"; content: '\f0d2'; }
.menu-social li a[href*="reddit.com"]::before { font-family: "Font Awesome 5 Brands"; content: '\f1a1'; }
.menu-social li a[href*="soundcloud.com"]::before { font-family: "Font Awesome 5 Brands"; content: '\f1be'; }
.menu-social li a[href*="stackoverflow.com"]::before { font-family: "Font Awesome 5 Brands"; content: '\f16c'; }
.menu-social li a[href*="tumblr.com"]::before { font-family: "Font Awesome 5 Brands"; content: '\f173'; }
.menu-social li a[href*="twitter.com"]::before {font-family: "Font Awesome 5 Brands";  content: '\f099'; }
.menu-social li a[href*="vimeo.com"]::before { font-family: "Font Awesome 5 Brands"; content: '\f194'; }
.menu-social li a[href*="vine.co"]::before { font-family: "Font Awesome 5 Brands"; content: '\f1ca'; }
.menu-social li a[href*="yelp.com"]::before { font-family: "Font Awesome 5 Brands"; content: '\f1e9'; }
.menu-social li a[href*="youtube.com"]::before { font-family: "Font Awesome 5 Brands"; content: '\f167'; }
.menu-social li a[href*="wordpress.com"]::before { font-family: "Font Awesome 5 Brands"; content: '\f19a'; }
.menu-social li a[href*="wordpress.org"]::before { font-family: "Font Awesome 5 Brands"; content: '\f19a'; }

.menu-social li span {
	display:none;
}

#social-menu a.nav-link { 
    padding:0px
}

.menu-social li a:before {
    display: inline-block;
    vertical-align: bottom;
    padding: 0.5rem 0.5rem;
    font-size: 1.6rem;
    -webkit-font-smoothing: antialiased;
}
.menu-social li a{
    color: #c7c7c7;
}
.menu-social li:hover > a
{
    color: #fff;
}